{% extends "base.html" %}

{% block content %}
<h1>Pony Lovers</h1>

<p>Welcome to <strong>Pony Lovers</strong>, the website for all the fans of <em>My Little Pony : Friendship is Magic</em></p>

<p>Please <a href="/register">register</a> to join the community!</p>

<p>Vote for your favorite <a href="/ponies">pony</a>!</p>

<p><img src="/static/img/logo.svg" alt="logo" /></p>

{% endblock %}

{% block footer %}
{{ super() }}
<script type="text/javascript" src="//panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script>
<script type="text/javascript" src="//panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script>
<script type="text/javascript">/* <![CDATA[ */ (function (cfg) {BrowserPonies.setBaseUrl(cfg.baseurl);BrowserPonies.loadConfig(BrowserPoniesBaseConfig);BrowserPonies.loadConfig(cfg);})({"baseurl":"https://panzi.github.io/Browser-Ponies/","fadeDuration":500,"volume":1,"fps":25,"speed":3,"audioEnabled":false,"showFps":false,"showLoadProgress":false,"speakProbability":0.1,"spawn":{"applejack":1,"fluttershy":1,"pinkie pie":1,"rainbow dash":1,"rarity":1,"twilight sparkle":1},"autostart":true}); /* ]]> */</script>
{% endblock %}
